{{ define "main" }}
<div id="home-jumbotron" class="jumbotron text-center">
    <h1 class="title">{{ .Site.Title }}</h1>
    <p>Welcome, we hope you enjoy your stay!</p>
    <p>Not much is known about El Domo, but a few stories have been collected from the streets over the years:</p>
    <p>
        El Domo was once a celebrated chef, revered for his culinary skills and inventive dishes. But that all changed when one
        fateful day, a customer complained about finding a hair in their food. An investigation was launched, and it was
        discovered that the hair had come from El Domo himself. He was immediately fired, disgraced, and shunned by the culinary
        community. El Domo now spends his days working at a fast food restaurant, his once-bright future now nothing but a
        distant memory.
    </p>
    
    <p>
        El Domo was once a celebrated chef, known for his creative and delicious dishes. But one day, a terrible accident in the
        kitchen led to the death of one of his assistants. The incident was ruled a accident, but the damage was done. El Domo's
        reputation was ruined, and he was forced to close his restaurant. He now spends his days working in a small cafe, trying
        to forget his past and move on with his life.
    </p>
    
    <p>
        El Domo was once a celebrated chef, but his life took a tragic turn when his wife cheated on him and his children were
        taken away. He was fired from his job, and he now lives in a rundown apartment, struggling to make ends meet. He has
        lost everything that once mattered to him, and he blames himself for it all.
    </p>
</div>
{{ end }}
